extends ../layout

block body
    div.jumbotron
        h2 商城首页
    div.row
        each item in productList
            div.col-xs-6.col-md-4(data-id=item.id)
                a.thumbnail(href="/product/detail/#{item.id}")
                    = item.attributes.ProductName
                    p
                        = item.attributes.ProductDesc